@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Aura'; /* Custom name for the font */
	src: url('/fonts/AURA_DEMO.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--background: #eeeeee;
	--foreground: #171717;
}

body {
	color: var(--foreground);
	background: var(--background);
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: "Aura", serif;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none; 
}

.animate-color {
	animation: pulse 5s infinite alternate;
}

@keyframes pulse {
	from {
		color: rgb(255, 56, 56);
	}

	to {
		color: white;
	}
}
